
  <form ([formGroup])="form">
    <ng-container [ngSwitch]="input.controlType">
   
    <div *ngSwitchCase="'textbox'">
      <label class="label" [attr.for]="input.key">{{input.label}}</label>
      <input *ngSwitchCase="'textbox'" [type]="input.type" [id]="input.key" [formControlName]="input.key" nbInput fullWidth fieldSize="tiny" placeholder="Tiny">
    </div>

    <div *ngSwitchCase="'multiple-select'">
      <label class="label" [attr.for]="input.key">{{input.label}}</label>
      <nb-select multiple placeholder="Multiple Select" [id]="input.key" [formControlName]="input.key"> 
        <nb-option *ngFor="let opt of input.options"  [value]="opt.key">{{opt.value}}</nb-option>
      </nb-select>
    </div>

    <div *ngSwitchCase="'checkbox'">
      <div class="form-check">
        <!-- <input class="form-check-input" type="checkbox" [formControlName]="input.key" [id]="input.key">
        <label class="form-check-label" [attr.for]="input.key">{{input.label}}</label> -->

        <nb-checkbox status="basic" [formControlName]="input.key" [id]="input.key">{{input.label}}</nb-checkbox>
        <!-- <nb-checkbox (checkedChange)="toggle($event)">Toggle me</nb-checkbox> -->


      </div>
    </div>

    <div *ngSwitchCase="'radio'">
      <div class="form-check form-check-inline" *ngFor="let opt of input.options">
        <input class="form-check-input" type="radio" [formControlName]="input.key" [id]="input.key" [value]="opt.value">
        <label class="form-check-label" [attr.for]="opt.key"> {{ opt.value }} </label>
      </div>
    </div>

    <div *ngSwitchCase="'textarea'">
      <label [attr.for]="input.key">{{input.label}}</label>
      <textarea class="form-control" [formControlName]="input.key" [id]="input.key" rows="5"></textarea>
    </div>

 
    </ng-container>
  </form>
