


<div class="row">
  <div class="col-md-12 col-lg-4 col-xxxl-4 column-one">
    <nb-card status="success">
      <nb-card-header>
        Características
      </nb-card-header>
      <nb-card-body>
      
        <ngx-dynamic-form [formFields]="formFields | async "></ngx-dynamic-form>
        <ngx-dynamic-form [formFields]="formFields | async "></ngx-dynamic-form>
      
      </nb-card-body>
    </nb-card>

  </div>
  <div id="right" class="col-md-12 col-lg-8 col-xxxl-8 column-two" style="float:right;">
    <nb-card status="success">
      <nb-card-header>
        Relatório/Laudo
      </nb-card-header>
      <nb-card-body>
        <ngx-tiny-mce editor="Francisco">
          
        </ngx-tiny-mce>
      </nb-card-body>
    </nb-card>

  </div>
</div>


<div class="lists row">
  <div class="col-md-12 col-lg-4 col-xxxl-4">
  </div> 
  <div id="divrelatorio" class="col-md-12 col-lg-8 col-xxxl-8" style="float:right;">
  </div>
</div>



 